.nav-row{
    margin-top: 0;
}
.nav-back {
    background: #992f2f;
    
}
h2{
    color: white;
}
.category-link{
    margin-right:10px;
    background: #CD5C5C;
    border: none;
}
.buy-link{
    background: #CD5C5C;
}
.remove-chart-link{
    background-color: black;
}
.product-card{
    width: 18rem;
    margin-top:2%;
}
.card-img-top{
    margin-top: 2%;
    height: 300px;
    width: 250px;
    
}
.row{
    margin-top: 2%;
}
.logo-text{
    margin-left:30%
}
.nav-row{
    margin-top: 0;
}
.search{
    margin-top: 0.5%;
}


